doctype html
html
  head
    title= title
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.css')
    script(type="text/javascript", src="/lib/jquery/jquery.js")
    script(type="text/javascript", src="/lib/bootstrap/js/bootstrap.js")

  body
    block content
