<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>云养</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/cloud.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/lib/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script src="javascripts/lib/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/header.js"  defer="defer" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/lib/minigrid.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/cloud.js" defer="defer"  charset="utf-8"></script>
</head>


<body>

<% include header %>

<div class="cloudmain">

    <div class="cloudleft">

        <!--"photo-box"为瀑布流 图片容器-->
        <div id="photo-box" class="container">
            <!--显示视频缩略图与图片信息-->
            <%if(videos && videos.length){
            for(var i = 0; i < videos.length; i++){%>
            <a class="photo" target="_blank" href="/watchVideo?id=<%=videos[i]._id%>" >
                <video src="<%=videos[i].videopath%>" preload="metadata"  onloadeddata="vload(this)" style="width:100%"></video>
                <div class="content">
                    <%=videos[i].videotitle%>
                </div>
                <input type="text" value="<%=videos[i].videotime%>" readonly="readonly" style="width: 100%; border: none; color: rgb(119, 119, 119); padding-left: 10px; padding-bottom: 10px;">
            </a>
            <% }
            }%>

        </div>

    </div><!--cloudleft end-->


    <div class="cloudright">

        <form method='post' action="/uploadVideo" enctype='multipart/form-data' id="video-form"  style="margin-top: 20px;text-align: center">
            <div style="text-align: center;font-size: 18px;font-weight: bold"><p>上传视频</p></div>
            <input type='file' name='video' id="video" style="display: none"/>
            <input type='text' name='title' id="title" class="myinput" placeholder="视频标题"/>
            <textarea type='text' name='desc' id="desc" class="myinput" placeholder="视频描述" style="height:80px;resize:none;" rows="3"></textarea>
            <input type="button" class="mybutton" id="upload-video" value="选择视频" style="padding: 8px">
        </form>

    </div><!--cloudright end-->

</div>

</div>

</body>
</html>
