<div class="nav">
    <div class="nav-inner">
        <a href="logout"><img src="img/logo.png" class="logo"></a>
        <i class="fa fa-search fa-1x" style="color:#996699;z-index:2;position:relative;left:-380px;top:20px;"></i>
        <input type="text" id="searchinput" value="搜索问题或用户">
        <input type="submit" class="mybutton" id="searchbutton" value="搜索">

        <div class="menubar">
            <li class="menu"><a href="#">话题</a></li>
            <li class="menu"><a href="#">讨论</a></li>
            <li class="menu"><a href="#">提问</a></li>
        </div>

        <div class="nav-user">
            <a class="menu" ><img src="<%=locals.session.user.usericon%>">
                <a id="name" ><%=locals.session.user.username%></a>
            </a>
            <ul class="submenubar">
                <li><a href="profile">
                        <i class="fa fa-user fa-1x"></i>&nbsp&nbsp&nbsp&nbsp我的主页</a></li>
                <li><a href="logout">
                        <i class="fa fa-sign-out fa-1x"></i>&nbsp&nbsp&nbsp&nbsp退出</a></li>
            </ul>
        </div>
    </div>
</div>