<div class="questionright">
    <div class="hotquestion">
        <h3>热门问题</h3>
        <li><a href="#">仓鼠可以喝酸奶吗？</a></li>
        <li><a href="#">老猫生了只小猫，三个月大，有人愿意领养吗？</a></li>
        <li><a href="#">捡到一只乌龟，养乌龟需要办手续吗？</a></li>
        <li><a href="#">什么样的狗人见人爱、花见花开？</a></li>
        <li><a href="#">眼镜蛇可以当宠物养吗？</a></li>
    </div>
    <hr>
    <div class="hotuser">
        <h3>热门用户</h3>
        <div class="userbrief">
            <img src="img/user/user2.jpg" href="#">
            <a class="hotname" herf="#">精灵鼠小弟</a><br>
            <div class="introduction">哦！我是一只可爱的小老鼠，小老鼠，小老鼠(￣︶￣)</div>
        </div>

        <div class="userbrief">
            <img src="img/user/user4.jpg" href="#">
            <a class="hotname" herf="#">俊介</a><br>
            <div class="introduction">我叫俊介，我是一只博美犬，我很可爱，我很红！大家都很喜欢我哦！
            </div>
        </div>

        <div class="userbrief">
            <img src="img/user/user3.jpg" href="#">
            <a class="hotname" herf="#">草原上一匹奔腾的羊驼</a><br>
            <div class="introduction">我很萌，我很萌，我很萌，我很萌，我很萌，我很萌，我很萌，我很萌，我很萌,其实我只是想试试文字会不会跑到左边去而已</div>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <a>@2017 Petalk</a>
    </div>
</div>