
.stage {
  position: relative;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  height: 105px;
  width: 105px;
}

.image img:hover{
  position:relative;
  top:-5px;
  left:-5px;
  width:110px;
  height:110px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}

.avatar {
  /*box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.avatar:nth-of-type(1) {
  -webkit-animation: ani1 2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani1 2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani1 {
  0%, 20% {
    -webkit-transform: rotate(45deg) translate(0) rotate(-45deg);
    transform: rotate(45deg) translate(0) rotate(-45deg);
  }
  34%, 100% {
    -webkit-transform: rotate(45deg) translate(100px) rotate(-45deg);
    transform: rotate(45deg) translate(100px) rotate(-45deg);
  }
}
@keyframes ani1 {
  0%, 20% {
    -webkit-transform: rotate(45deg) translate(0) rotate(-45deg);
    transform: rotate(45deg) translate(0) rotate(-45deg);
  }
  34%, 100% {
    -webkit-transform: rotate(45deg) translate(100px) rotate(-45deg);
    transform: rotate(45deg) translate(100px) rotate(-45deg);
  }
}
.avatar:nth-of-type(2) {
  -webkit-animation: ani2 2s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani2 2s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani2 {
  0%, 20% {
    -webkit-transform: rotate(90deg) translate(0) rotate(-90deg);
    transform: rotate(90deg) translate(0) rotate(-90deg);
  }
  34%, 100% {
    -webkit-transform: rotate(90deg) translate(100px) rotate(-90deg);
    transform: rotate(90deg) translate(100px) rotate(-90deg);
  }
}
@keyframes ani2 {
  0%, 20% {
    -webkit-transform: rotate(90deg) translate(0) rotate(-90deg);
    transform: rotate(90deg) translate(0) rotate(-90deg);
  }
  34%, 100% {
    -webkit-transform: rotate(90deg) translate(100px) rotate(-90deg);
    transform: rotate(90deg) translate(100px) rotate(-90deg);
  }
}
.avatar:nth-of-type(3) {
  -webkit-animation: ani3 2s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani3 2s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani3 {
  0%, 20% {
    -webkit-transform: rotate(135deg) translate(0) rotate(-135deg);
    transform: rotate(135deg) translate(0) rotate(-135deg);
  }
  34%, 100% {
    -webkit-transform: rotate(135deg) translate(100px) rotate(-135deg);
    transform: rotate(135deg) translate(100px) rotate(-135deg);
  }
}
@keyframes ani3 {
  0%, 20% {
    -webkit-transform: rotate(135deg) translate(0) rotate(-135deg);
    transform: rotate(135deg) translate(0) rotate(-135deg);
  }
  34%, 100% {
    -webkit-transform: rotate(135deg) translate(100px) rotate(-135deg);
    transform: rotate(135deg) translate(100px) rotate(-135deg);
  }
}
.avatar:nth-of-type(4) {
  -webkit-animation: ani4 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani4 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani4 {
  0%, 20% {
    -webkit-transform: rotate(180deg) translate(0) rotate(-180deg);
    transform: rotate(180deg) translate(0) rotate(-180deg);
  }
  34%, 100% {
    -webkit-transform: rotate(180deg) translate(100px) rotate(-180deg);
    transform: rotate(180deg) translate(100px) rotate(-180deg);
  }
}
@keyframes ani4 {
  0%, 20% {
    -webkit-transform: rotate(180deg) translate(0) rotate(-180deg);
    transform: rotate(180deg) translate(0) rotate(-180deg);
  }
  34%, 100% {
    -webkit-transform: rotate(180deg) translate(100px) rotate(-180deg);
    transform: rotate(180deg) translate(100px) rotate(-180deg);
  }
}
.avatar:nth-of-type(5) {
  -webkit-animation: ani5 2s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani5 2s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani5 {
  0%, 20% {
    -webkit-transform: rotate(225deg) translate(0) rotate(-225deg);
    transform: rotate(225deg) translate(0) rotate(-225deg);
  }
  34%, 100% {
    -webkit-transform: rotate(225deg) translate(100px) rotate(-225deg);
    transform: rotate(225deg) translate(100px) rotate(-225deg);
  }
}
@keyframes ani5 {
  0%, 20% {
    -webkit-transform: rotate(225deg) translate(0) rotate(-225deg);
    transform: rotate(225deg) translate(0) rotate(-225deg);
  }
  34%, 100% {
    -webkit-transform: rotate(225deg) translate(100px) rotate(-225deg);
    transform: rotate(225deg) translate(100px) rotate(-225deg);
  }
}
.avatar:nth-of-type(6) {
  -webkit-animation: ani6 2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani6 2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani6 {
  0%, 20% {
    -webkit-transform: rotate(270deg) translate(0) rotate(-270deg);
    transform: rotate(270deg) translate(0) rotate(-270deg);
  }
  34%, 100% {
    -webkit-transform: rotate(270deg) translate(100px) rotate(-270deg);
    transform: rotate(270deg) translate(100px) rotate(-270deg);
  }
}
@keyframes ani6 {
  0%, 20% {
    -webkit-transform: rotate(270deg) translate(0) rotate(-270deg);
    transform: rotate(270deg) translate(0) rotate(-270deg);
  }
  34%, 100% {
    -webkit-transform: rotate(270deg) translate(100px) rotate(-270deg);
    transform: rotate(270deg) translate(100px) rotate(-270deg);
  }
}
.avatar:nth-of-type(7) {
  -webkit-animation: ani7 2s 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani7 2s 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani7 {
  0%, 20% {
    -webkit-transform: rotate(315deg) translate(0) rotate(-315deg);
    transform: rotate(315deg) translate(0) rotate(-315deg);
  }
  34%, 100% {
    -webkit-transform: rotate(315deg) translate(100px) rotate(-315deg);
    transform: rotate(315deg) translate(100px) rotate(-315deg);
  }
}
@keyframes ani7 {
  0%, 20% {
    -webkit-transform: rotate(315deg) translate(0) rotate(-315deg);
    transform: rotate(315deg) translate(0) rotate(-315deg);
  }
  34%, 100% {
    -webkit-transform: rotate(315deg) translate(100px) rotate(-315deg);
    transform: rotate(315deg) translate(100px) rotate(-315deg);
  }
}
.avatar:nth-of-type(8) {
  -webkit-animation: ani8 2s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: ani8 2s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani8 {
  0%, 20% {
    -webkit-transform: rotate(360deg) translate(0) rotate(-360deg);
    transform: rotate(360deg) translate(0) rotate(-360deg);
  }
  34%, 100% {
    -webkit-transform: rotate(360deg) translate(100px) rotate(-360deg);
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}
@keyframes ani8 {
  0%, 20% {
    -webkit-transform: rotate(360deg) translate(0) rotate(-360deg);
    transform: rotate(360deg) translate(0) rotate(-360deg);
  }
  34%, 100% {
    -webkit-transform: rotate(360deg) translate(100px) rotate(-360deg);
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}
.avatar:nth-of-type(4):before, .avatar:nth-of-type(2):before {
  -webkit-animation: bounce 3s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(7):before {
  -webkit-animation: bounce 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(3):before {
  -webkit-animation: bounce 3s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(1):before {
  -webkit-animation: bounce 3s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(6):before {
  -webkit-animation: bounce 3s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(5):before {
  -webkit-animation: bounce 3s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(8):before {
  -webkit-animation: bounce 3s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: bounce 3s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100px;
  width: 100px;
}
.image img {

  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
}
/*.image:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  height: 100%;
  width: 100%;
  background: #f9fff7;
  border: 3px solid #e7f5d1;
  border-radius: 50%;
  -webkit-animation: pulse 1s 1.4s ease-out;
          animation: pulse 1s 1.4s ease-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}*/



@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  10%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  10%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.0;
  }
}
@-webkit-keyframes colorchange {
  0% {
    background: #bec4bc;
  }
  100% {
    background: #b5e763;
  }
}
@keyframes colorchange {
  0% {
    background: #bec4bc;
  }
  100% {
    background: #b5e763;
  }
}
.avatar:nth-of-type(1) {
  background-image: url("../img/user/1.jpg");
}

.avatar:nth-of-type(1) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(1):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}

.avatar:nth-of-type(2) {
  background-image: url("../img/user/2.jpg");
}

.avatar:nth-of-type(2) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(2):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(3) {
  background-image: url("../img/user/3.jpg");
}

.avatar:nth-of-type(3) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(3):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(4) {
  background-image: url("../img/user/4.jpg");
}

.avatar:nth-of-type(4) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(4):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(5) {
  background-image: url("../img/user/5.jpg");
}

.avatar:nth-of-type(5) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(5):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(6) {
  background-image: url("../img/user/6.jpg");
}

.avatar:nth-of-type(6) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(6):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(7) {
  background-image: url("../img/user/7.jpg");
}

.avatar:nth-of-type(7) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(7):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}


.avatar:nth-of-type(8) {
  background-image: url("../img/user/8.jpg");
}

.avatar:nth-of-type(8) a{
  display:block;
  width:70px;
  height:70px;
  cursor:pointer;
}

.avatar:nth-of-type(8):hover{
  width:75px;
  height:75px;
  box-shadow:  0 0 2px 2px rgba(0,0,0,0.5);
}

