//Created by dingding on 2017/10/11.
extends layout

block content
    form(action="/test2", method="post")
        input(name="testName")
        input.btn.btn-large.btn-primary(type="submit", value="submit")
