<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/esm/popper-utils.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <form action="/test2" method="post">
      <input id="testName">
      <button type="submit" class="btn btn-large btn-primary"></button>
    </form>
  </body>
</html>