<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="text-align: center">

<img src="img/notfound.gif">
<p>抱歉啊，亲，我们没有这个页面哦！</p>
</body>
</html>