<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>话题</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topic.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topic-right.css">
    <script src="javascripts/lib/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script src="javascripts/lib/bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/sidebar.js" defer="defer" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/header.js" defer="defer" charset="utf-8"></script>
    <script type="text/javascript" src="javascripts/topic.js" defer="defer" charset="utf-8"></script>
</head>

<body>

<% include header %>

<div class="questionmain">

    <div class="questionleft">
        <ul class="myquestion">
            <% if(questions){
            questions.forEach(function(q){%>
            <div style="margin-bottom: 30px">
                <li style="font-size: 19px;font-weight: bold;list-style: square inside url('img/star.png')"><a href="/topic?id=<%=q._id%>"><%=q.quescontent%></a></li>
                <p style="margin-top:10px;color:#CC99CC; text-align: right"><a><%=q.user.username%>&nbsp&nbsp</a><span class="questime">提问于 <%=q.questime%></span></p>
            </div>
            <%})
            }%>
        </ul>

    </div><!--profileleft end-->

   <% include topic-right%>

</div>
</body>
</html>
